@use "./common.scss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  overflow: hidden;
  background: #f5f6fb;
}

input,
textarea,
button,
select,
a,
img,
.checkbox-wrapper-22 {
  -webkit-tap-highlight-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

img {
  max-width: 100%;
}

input,
select {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #ebebeb;
  background: #fcfcfc;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
  &::placeholder {
    color: #8a8a8b;
    line-height: 1.25rem;
    text-align: start;
    text-align-last: left;
    font-family: Inter !important;
  }
  &:focus {
    border-color: #5b9df9;
    outline: none;
  }
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text);
}

.back-btn {
  display: flex;
  padding: 0 0.5rem 0 0;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--text);
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid transparent;
  transition: 0.3s;
  align-self: self-start;

  &:hover {
    color: var(--blue);
    transition: 0.3s;
  }
}

.hide-arrow {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: center;
}

.App {
  height: 100vh;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  background: #fff;
  .grid-header {
    font-family: "Inter";
    font-size: 13px;
    margin-bottom: 5px;
    padding: 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.5rem;
    }

    p {
      color: var(--Foundation-Black-black-500, #181d1f);
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &.header {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // column-gap: 0.5rem;
        margin: 0;
      }
    }
    input {
      width: 40%;
      height: 40px;
      padding: 0px 1rem;
      border-radius: 0.5rem;
      border: 1px solid #ebebeb;
      background: #fcfcfc;
      outline-color: var(--blue);
    }
    button {
      display: flex;
      height: 40px;
      padding: 0.5rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.5rem;
      background: var(--blue);
      color: var(--white);
      outline: none;
      border: none;
      font-weight: 500;
      cursor: pointer;
      &.download {
        padding: 0;
      }
      &.delete {
        background: var(--red);
      }
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        user-select: none;
        touch-action: none;
      }
    }
  }

  #myGrid {
    flex: 1 1 0px;
    width: 100%;
  }
  .ag-cell {
    display: flex;
    align-items: center;
    font-family: Inter;

    &:hover {
      color: var(--blue);
    }
  }
  .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
    border-color: transparent;
  }
}

.ag-react-container {
  width: 100%;
  .ag-overlay-loading-center {
    padding: 0;
    width: 100%;
    border: none;
  }
}
.ag-root-wrapper {
  border-radius: 0 0 1rem 1rem;
}

.ag-overlay-loading-center {
  background-color: transparent;
  box-shadow: none;
  font-size: large;
  font-weight: 600;
}

.lottie-anim {
  max-width: 30px;
  &.download {
    max-width: 40px;
  }
}
